<div class="wrapper">
  <h1>¿Como va el trafico?</h1>
  <p *ngIf="!location.loading && location.noLocation">Necesitamos conocer tu ubicacion para mostrarte lo mas cercano a
    ti
    <strong (click)="getPosition()">Reintentar</strong>
  </p>

  <selectors [type]="type" [kmMax]="kmMax" (onChange)="onChangeSelectors($event)"></selectors>

  <p *ngIf="location.loading">Cargando...</p>

  <ng-container *ngIf="!location.loading">
    <map [lat]="location.lat" [lng]="location.lng"></map>

    <ng-container>
      <race-item [type]="type" [items]="items.items"></race-item>
    </ng-container>
  </ng-container>
</div>
